{% extends "base.html" %}
{% block content %}

		  <div class="col-md-7">

	  			<div class="row">
	  				<div class="col-md-12">
	  					<div class="content-box-large">
	  						<div id="alert-g1" class="alert">Poll Added</div>
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
					            <h4>Add Poll</h4>
					      
					        </div>
			  				<div class="panel-body">
			  				
			  					<form role="form" id="form-group">
									<fieldset>
										<div class="form-group">
											<label>Poll Question</label>
											<input class="form-control" placeholder="Item Name" type="text" name="question_g1" required>
										</div>
									</fieldset>
									<div class="form-group">
										<select class="form-control" name="user_type">
  											<option value="all">All Members</option>
  											<option value="owners">Owners</option>
  											<option value="commitee">Commitee Members</option>
										</select> 
									</div>
                 					<div class="form-group">
											<label>Start Date</label>
											<input class="form-control" placeholder="yyyy-mm-dd" type="text" name="start_date" required>
										</div>
										<div class="form-group">
											<label>End Date</label>
											<input class="form-control" placeholder="yyyy-mm-dd" type="text" name="end_date" required>
										</div>
									<div>
										<center><button id="btn-group1" class="btn btn-primary" type="button">Submit Poll</button></center>
									</div>
								</form>
			  				
			  				<button id="add-option-g1" class="btn btn-primary">Add Option</button>
			  				<button style="float: right;" id="remove-option-g1" class="btn btn-primary">Remove Option</button>
			  			</div>
			  			</div>
	  				</div>
	  			</div>
	  		<!--  Page content -->
		  </div>
	</div>

{% endblock %}