{% extends "base.html" %}
{% block content %}
		  <div class="col-md-10">
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
					            <h4>Current Polls</h4>
					        </div>
			  				<div class="panel-body">
			  				<div class="alert">You have voted</div>
			  				{% block polls %}
			  					{% for poll in all_polls %}
			  					<h3>{{ all_polls[poll]['question'] }}</h3>
			  					<form role="form">
			  							{% for choice in all_polls[poll]['choices'] %}
			  							<input type = "hidden" name = "poll-id" value = {{poll}} />
			  							<div class="radio"><label>
  										<input type="radio" name={{choice.number}} selected>{{ choice.string }}     
  										<span class="badge">{{choice.votes}}</span></label></div>
			  							{% endfor %}
			  							<button id="poll-submit-btn" class="btn btn-primary" type="button">Vote</button>
			  						</form>
			  					{% endfor %}
			  				{% endblock %}

			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  			</div>
	  		<!--  Page content -->
		  </div></div></div>
		  		
{% endblock %}