<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- styles -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-bg">
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-12">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">Polling App</a></h1>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			        <div class="alert">Account Successfullly Created</div>
			        <div class="alert_notadded">Wrong Passwords</div>
			            <div class="content-wrap">
			            <h6>Sign Up</h6>
			            <form action="/fbsignup" method="POST" id="sign-up-form" >
			               	<input name="email_id" class="form-control" type="text" placeholder="Email ID">
			                <input name="passwd" class="form-control" type="password" placeholder="Password">
			                <input name="user-group" class="form-control" type="text" placeholder="Group Name
			                ">
			             	<input name="user-name" class="form-control" type="text" placeholder="Username">
			                <button class="btn btn-primary signup" type="submit">Submit</button>
			            	</form>
			                </div>                
			            </div>
			        </div>

			        <div class="already">
			            <p>Have an account already?</p>
			            <a href="{{ url_for('signin') }}">Login</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  </body>
</html>